* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: greyscaled;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 0.75em;
}
